<div>
    <%= image_tag "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest(shout.user.email)}"%>
    <%= link_to shout.username, shout.user%>
    <%= render shout.content %>
    <%= link_to shout do %>
      <%= "-- " + time_ago_in_words(shout.created_at) %> ago
    <% end %>
  </div>

 